{
  parser: "babel-eslint",
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
      "max-len": [1, 80, 2, {ignoreComments: true}]
  }
}