{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "window":   true,
    "document": true,
    "expect":   true,
    "it":       true,
    "test":     true
  },
  "rules": {
      "max-len":                      [1, 90, 2, {"ignoreComments": true}],
      "object-curly-spacing":         "off",
      "comma-dangle":                 "off",
      "react/sort-comp":              "off",
      "semi":                         "off",
      "no-confusing-arrow":           "off",
      "no-mixed-operators":           "off",
      "no-underscore-dangle":         "off",
      "react/prop-types":             "off",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}